<?xml version="1.0" encoding="utf-8" standalone="no"?>
<!DOCTYPE service-group SYSTEM "avahi-service.dtd">
<service-group>
  <name replace-wildcards="yes">EmpirBus Settings</name>
  <service>
    <type>_garmin-empirbus._tcp</type>
    <port>80</port>
    <txt-record>protovers=1</txt-record>
    <txt-record>path=/garmin/empirbus_config3.json</txt-record>
  </service>
</service-group>